body {
    width: 100%;
    height: 100%;
    /* background: url('/../img/background/background_4.png') fixed;
    background-size: cover;
    /*background: #00BCFF; !* For browsers that do not support gradients *!*/
    /*background: -webkit-linear-gradient(#00BCFF, #FFFFFF); !* For Safari 5.1 to 6.0 *!*/
    /*background: -o-linear-gradient(#00BCFF, #FFFFFF); !* For Opera 11.1 to 12.0 *!*/
    /*background: -moz-linear-gradient(#00BCFF, #FFFFFF); !* For Firefox 3.6 to 15 *!*/
    /*background: linear-gradient(#00BCFF, #FFFFFF); !* Standard syntax *!*/
}
.navbar {
    background: rgba(255, 255, 255, 0.8);
}
#logo {
    margin-right: 20px;
}
.page-not-found {
    width: 100%;
    min-height: 200px;
    text-align: center;
    margin-top: 100px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 75px;
}
.page-not-found > h3 {
    color: #000000;
}
a:hover {
    text-decoration: none;
}
.standard-box {
    background: rgba(255, 255, 255, 0.5);
    margin-top: 20px;
    padding: 10px 10px 10px 10px;
    /*box-shadow: 5px 5px 15px #888888;*/
    min-height: 500px;
}
.flashmessage {
    text-align: center;
    margin-top: 10px;
}
.table-dark {
    background-color: rgba(52, 58, 64, 0.9);
}
.zoom {
    transition: transform .1s;
}

.zoom:hover {
    -ms-transform: scale(1.65); /* IE 9 */
    -webkit-transform: scale(1.65); /* Safari 3-8 */
    transform: scale(1.65);
}
/* Retrait des styles des différents framework*/
table.dataTable tbody tr {
    background-color: transparent !important;
}
.ui-widget-content {
    background: none !important;
    border: none !important;
}
ul.ui-tabs-nav.ui-corner-all.ui-helper-reset.ui-helper-clearfix.ui-widget-header {
    background: none !important;
    border: none !important;
}
#collection-table {
    font-size: 20px;
}