.rarity-effect-1 {
    margin-bottom: 0;
    font-style: italic;
}
.rarity-effect-2 {
    background: -webkit-linear-gradient(#11e400, #ffffff) no-repeat;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin-bottom: 0;
    font-weight: bold;
    font-style: italic;
}
.rarity-effect-3 {
    background: -webkit-linear-gradient(45deg, #1be0ff, #fff700, #ffffff) no-repeat;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin-bottom: 0;
    font-weight: bold;
    font-style: italic;
}
.new-card-text {
    background: -webkit-linear-gradient(#ea2900, #ffffff) no-repeat;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin-bottom: 0;
    font-size: 25px;
    font-weight: bold;
}